########################################
# Core .NET & Visual Studio
########################################
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# JetBrains Rider
########################################
.idea/
*.sln.iml

########################################
# Visual Studio Code
########################################
.vscode/
*.code-workspace

#仅clea-code分支使用 冲突记得解决
*.csproj